/* Basislayout */

html, body.darkmode{
    height: 100%;
    padding: 0;
    background-color: #7f7f7f;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main .darkmode{
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article .darkmode {
    text-align: justify;
}


header .darkmode{
    color: skyblue;
    text-align: center;
}


footer .darkmode{
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks .darkmode {
    float: left;
    margin-right: 15px;
}

.smalltext .darkmode{
    font-size: 0.7em;
}

a .darkmode{
    color: skyblue;
    text-decoration: none;
}

a:hover .darkmode{
    text-decoration: underline;
}


/* navigatiebalk */
nav ul .darkmode{
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    
}

nav ul li .darkmode{
   
    float: left;
}

nav ul li.rechts .darkmode{
    
    float: right;
}

nav li a .darkmode{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover .darkmode{
    background-color: #aaaaaa;
}

nav li a.active .darkmode{
    background-color: rgb(116, 88, 114);
}
#dance {
    width: 200px;
    
}
#Budgepic{
    width: 200px;
    
}


